body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #222222;
}

.clock {
  border-radius: 100%;
  background: #ffffff;
  border: 5px solid rgb(230, 17, 116);
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.arrow {
  position: absolute;
  margin: auto;
  transform-origin: bottom center;
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  border-radius: 4px;
}

.hour {
  height: 100px;
  width: 6px;
  top: -27%;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.minute {
  height: 130px;
  width: 4px;
  top: -38%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.second {
  height: 90px;
  width: 2px;
  top: -26%;
  background: #ff4b3e;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}
